header{
    text-align: left;
    background-color: azure;
}

form{
    text-align: left;
}



.home{
    font-size: x-large;
    border-color: blueviolet;
    line-height: 50px;
}



.game{
    display: inline-block;
    font-size: 30px;
    line-height: 50px;
    margin-right: 20px;
    text-align: left;
    width: 120px;    
}

input[type="text"]{
    display: inline-block;
    font-size:30px;
    text-align: left;
}

.invisible{
    display: none;
}

body{
    font-size: medium;
    text-align: left;
}

p{
    font-size: large;
    line-height: 50px;
    text-align: center;
}

.function{
    border-color: blueviolet;
    font-size: large;
    text-align: center;
}

.shot{
    border-color: blueviolet;
    font-size:large;
    text-align: center;
}